<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StackOverflow Search</title>
    <link rel="stylesheet" href="../static/search_theme.css">
</head>
<body>
<div class="card" >
    <h2 align="center">Stack Overflow Search</h2>
    <form method="POST">
    <label class="input">
            <input class="input__field" type="text" id="search" name="tag"/>
            <span class="input__label">Tags</span>
    </label>
    <div class="button-group">
        <button type="submit" value="submit">Search</button>
        <button type="reset">Reset</button>
    </div>
     </form>
</div>

</body>

</html>